<div class="auth">
  <div class="auth-container">
      <div class="card">
          <header class="auth-header">
              <h1 class="auth-title" >
                  Paras
              </h1>
          </header>
          <div class="auth-content">
              <p class="text-xs-center" >
                  Login
              </p>
              <form id="login-form">
                  <div class="form-group">
                      <button type="button"
                              (click)="signIn()"
                              class="btn btn-block btn-primary"
                              >
                         Sign In
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>